@import "tailwindcss";

@layer utilities {
  .container {
    margin-right: auto;
    margin-left: auto;
    padding-inline: 0.5rem;

    @media (width >= 40rem) {
      padding-inline: 1rem;
    }
  }
  .animate-1 {
    animation-delay: 100ms;
  }
  .animate-2 {
    animation-delay: 200ms;
  }
  .animate-3 {
    animation-delay: 300ms;
  }
  .animate-4 {
    animation-delay: 400ms;
  }
  .animate-5 {
    animation-delay: 500ms;
  }
}

@layer components {
  .neon {
    @apply rounded-full border border-verde-200 bg-linear-to-b from-verde-200 to-verde-400;
    box-shadow: 0 1px 4px 1px rgba(var(--color-verde-200), 0.25), inset 0px -1px 2px var(--color-verde-200);
  }

  .btn {
    @apply rounded-full border border-verde-200 bg-linear-to-b from-verde-200 to-verde-400 text-verde-900 px-5 py-2 transition hover:contrast-200;
    box-shadow: 0 1px 4px 1px rgba(var(--color-verde-200), 0.25), inset 0px -1px 2px var(--color-verde-200);
  }

  .input {
    @apply rounded-md border-2 border-verde-800 bg-verde-800 p-2 text-white focus:outline-none focus:ring-2 focus:ring-verde-400 focus:border-verde-900 placeholder:text-verde-900;
  }

  .radial-gradient {
    @apply bg-radial-[50%_100%_at_50%_0%] from-verde-700 to-verde-800;
  }
}

@theme {
  --color-verde-950: #030504;
  --color-verde-900: #0f1c15;
  --color-verde-800: #16281f;
  --color-verde-700: #2e482c;
  --color-verde-400: #17e880;
  --color-verde-300: #91ee77;
  --color-verde-200: #acef75;
  --animate-fadeIn: fadeIn 0.4s ease-in-out forwards;
  --animate-slideIn: slideIn 0.4s ease-in-out forwards;
  --font-sans: "DM Sans", "system-ui", "sans-serif";
  --font-serif: "DM Serif Text", "Georgia", "serif";

  @keyframes slideIn {
    0% {
      opacity: 0;
      transform: translateX(-20px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
